body {
    background: rgb(192, 192, 219);
}
#logo {
    width: 20%
}
h1 { display: inline-block;
    color: #3a448f;
    text-align: center;
    font-size: 50px;
}
.itens { 
    background: #15ec89;
    font-size: 30px;
    color: #700585;
 }