body {
    background: rgb(192, 192, 219);
}
h1 { 
    color: #3a448f;
    text-align: center;
    font-size: 50px;
}
.itens { 
    background: #c815ec;
    font-size: 30px;
    color: #700585;
    text-align: center;
}